$main-bg-color-lightgrey: #f9f9f8;
$main-black-color: #1d1d18;
$dark-grey-color: #8b8881;
$secondary-lightpink-color: #fff1f1;
$sand-color: #e4ddce;
$border-color-lightgrey: #c4c4c4;
$input-border-color-lightgrey: #e4e7ec;
$overlay-bg-color: linear-gradient(0deg,
rgba(29, 29, 24, 0.4), rgba(29, 29, 24, 0.4));
$button-gradient-color: linear-gradient(75.96deg, #5a5955 0%, #1d1d18 100%);

$twitter-color: #00acee;
$linkedIn-color: #0072b1;
$google-color: #db3236;
$instagram-color: #8a3ab9;
$pinterest-color: #e60023;
$facebook-color: #3b5998;
$youtube-color: #c4302b;
